[defaults]
inventory = inventory/hosts.yml
roles_path = roles
filter_plugins = filter_plugins
collections_path = collections
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
